@font-face {
	font-family: 'MaPolice';
	src: url('../mapolice.otf');
}


#imgHeaderNav{
	/*background : url("../images/nav2.jpg") no-repeat;
	background-size: 100% 300px;
	background-attachment: fixed;*/
}
/* enleve soulignage des liens */
a:link  
{  
 text-decoration:none;  
}  

header{
    padding:20px;/*Marge verticale*/
   /* background-color: rgba(184,134,11,0.5);/*darkgoldenrod; /*Couleur de fond*/
   /* border-radius: 30px ;*/

    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 


    text-align:center;/*texte centré*/
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, "Comic Sans ms";

  width:200px;

  height:100px;
  line-height:100px; /*vertical-align:middle;*/
  /*display: inline;*/
	width:100%;margin: auto;

    /*border-bottom: solid;*/
}

footer{
    padding:25px 0px;/*Marge verticale*/
    background-color: darkgoldenrod; /*Couleur de fond*/
    text-align:center;/*texte centré*/
    font-family: "Comic Sans ms";
    font-size: small;
    font-weight: italic;
	border-radius: 30px ;

  display: inline;
	
}


section{
	background : white;/* url("../images/papier-peint1.jpg");
	/*background-size: 100% 300px;
	/*background-attachment: fixed;*/
	/*border:8px solid grey;/*bleu clair*/   /* blueviolet*/
	border-radius: 10px ;
	width:1000px;
	margin : auto; 
	margin-top : 75px; 
	/*background-color:rgba(184,134,11,1);/*darkgoldenrod; -- rgba(50,205,50,0.5); /*limegreen;*/
}


#navSmall{
	position: fixed;
	border:3px solid #9FC6FF;/*bleu clair*/   /* blueviolet*/
	border-radius: 30px ;
	width:300px;
	float: left;
	padding: 10px ;
	margin: 0px; 
	background-color: rgba(184,134,11,0.5);
	
    color: #9FC6FF;
	/*width:150px;
	/*border: 1px solid black;*/
}

.selected{
	background-color:rgba(184,134,11,1);
	border-radius: 10px ;
}




.textGrey{
	color : grey;
}

.bigCheckbox{

   width: 40px; height: 40px; 

}

input[type='checkbox'] {

    background:red;
}

.right{ text-align: right; }






