@font-face {
	font-family: 'MaPolice';
	src: url('../mapolice.otf');
}

header{
    padding:20px;/*Marge verticale*/
   /* background-color: rgba(184,134,11,0.5);/*darkgoldenrod; /*Couleur de fond*/
   /* border-radius: 30px ;*/

    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 


    text-align:center;/*texte centré*/
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, "Comic Sans ms";

  width:200px;

  height:100px;
  line-height:100px; /*vertical-align:middle;*/
  /*display: inline;*/
	width:100%;margin: auto;

    /*border-bottom: solid;*/
}

footer{
    padding:25px 0px;/*Marge verticale*/
    background-color: darkgoldenrod; /*Couleur de fond*/
    text-align:center;/*texte centré*/
    font-family: "Comic Sans ms";
    font-size: small;
    font-weight: italic;
	border-radius: 30px ;

  display: inline;
	
}


.circle{

	float:left;
	clear:both;


 height: 200px;
  width: 300px;
 /* display: table-cell; /* fais qu'ils sont inline
	margin:20px;
cellspacing:10px;*/
  text-align: center;
  vertical-align: middle;
/*line-height:100px;
  border-radius: 50%; /* may require vendor prefixes */
  background: yellow;
font-size:10px;


}


#navSmall{
	position: fixed;
	border:3px solid #9FC6FF;/*bleu clair*/   /* blueviolet*/
	border-radius: 30px ;
	width:300px;
	float: left;
	padding: 10px ;
	margin: 0px; 
	background-color: rgba(184,134,11,0.5);
	
    color: #9FC6FF;
	/*width:150px;
	/*border: 1px solid black;*/
}

.selected{
	background-color:rgba(184,134,11,1);
	border-radius: 10px ;
}

body{


	font-family: Helvetica Narrow, sans-serif;
	font-weight: 500;
    /*width:930px;/*Taille de la colonne centrée moins le padding*/
    /*background-color: limegreen;/*Couleur de fond*/
    margin: auto; /*centrer la colonne*/
    padding:0px 25px 0px 25px;/*margin interne*/
	/*background-image: url("Images/clouds.jpg");*/
	/*background-color: rgb(200,90,200);*/
	/*background-image: url("Images/bonhomme.jpg");
	background-attachement: fixed;
	background-repeat: no-repeat;
	background-position: top right;
	background: url("Images/bonhomme.jpg") fixed no-repeat top right, url("Images/clouds.jpg") fixed;*/
}
h1{
    text-align:center;/*texte centré*/
    font-size: x-large;
    font-weight: bold;
}
h2{
	position: relative;
	left:  20px;
	/* text-indent: 20px;*/
    margin-left: 30px/*texte centré*/
    font-size: large;
    font-weight: bold;
}
p{
	margin-bottom: 30px;
	position: relative;
	left:  10px;
}
section{
	border:8px solid darkorange;/*bleu clair*/   /* blueviolet*/
	border-radius: 30px ;
	width:800px;
	margin-left : 350px; 
	background-color:rgba(184,134,11,1);/*darkgoldenrod; -- rgba(50,205,50,0.5); /*limegreen;*/
}

.textGrey{
	color : grey;
}

.bigCheckbox{

   width: 40px; height: 40px; 

}

input[type='checkbox'] {

    background:red;
}

.right{ text-align: right; }






