/*
#imgHeaderNav{
	background-image: url("../images/nav2.jpg") fixed;
	
    background-repeat: no-repeat;
	background-position: 0 0;

}*/

nav{ 
   	white-space: nowrap; 
    	margin-left: 0;
}

nav ul {
	display: inline-block;
    	margin-left: 0;
    	*display: inline; /* IE7 */
    	*zoom:1;  /* IE7 */ 
    	list-style: none;
   	width: 100%;
    	padding:0px;
}

nav li {
    	display: inline-block;
    	*display: inline;
    	*zoom:1;
    	width: 10%;
    	height:100px;
    	line-height:100px;
    	border-radius: 50%;
	margin-left:5%; 

 	border:2px solid;
 	border-color:#DCDCDC ;

  	color: black;
 	text-align:center;
 	font-family: "Times New Roman", Times, serif;
 	font-size:large;
	font-weight:bold;

	opacity: 0.8; 


 	/*background-color:#6495ED;*/
	background-image: url("../images/blue.jpeg");
    	background-size: 100% 100%;
}


nav ul li[class] {
-webkit-animation: myfirst 1s  infinite; /* Chrome, Safari, Opera */
-moz-animation: myfirst 1s alternate infinite; /* Chrome, Safari, Opera */
 border-color:red ;
  color: red;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}

@-moz-keyframes myfirst {
from {opacity: 1;}
to {opacity: 0.3;}
}
@-webkit-keyframes myfirst {
from {opacity: 1;}
to {opacity: 0.3;}
  /*  0%   {opacity: 1; }
    25%  {opacity: 0.6; }
    50%  {opacity: 0.2; }
    75%  {opacity: 0.6; }
    100% {opacity: 1; }*/
}
/* NE MARCHE PAS */
@-webkit-keyframes myRotate {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(30deg);}
}

nav ul li:not([class]):hover {

  	-webkit-transform: scale(1.5,1.5);
  	-moz-transform: scale(1.5,1.5);


	background-image: url("../images/blue3.jpeg");
    /*background-size: 100% 100%;*/
	background-position: center; 

 	border-color:white ;
 	color: white;
    	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
 } 
