@font-face {
	font-family: 'MaPolice';
	src: url('mapolice.otf');
}


header{
    padding:25px 0px;/*Marge verticale*/
    background-color:#99A79A; /*Couleur de fond*/
    text-align:center;/*texte centré*/
font-family: MaPolice;
	font-size: x-large;
	font-weight: bold;
	color: black;
	background-color: #AAA
}
nav{
	background-color:yellow;
	
	float: left;
	width:150px;
	/*border: 1px solid black;*/
}
footer{
    padding:25px 0px;/*Marge verticale*/
    background-color:#59719A; /*Couleur de fond*/
    text-align:center;/*texte centré*/

	font-family: "Comic Sans ms";
	font-size: small;
	font-weight: italic;
	text-align: right;
	background-color: #AAA
}

body{
    width:930px;/*Taille de la colonne centrée moins le padding*/
    background-color:#FFFFFF;/*Couleur de fond*/
    margin: auto; /*centrer la colonne*/
    padding:25px;/*margin interne*/

	/*background-image: url("Images/clouds.jpg");*/
	/*background-color: rgb(200,90,200);*/
	/*background-image: url("Images/bonhomme.jpg");
	background-attachement: fixed;
	background-repeat: no-repeat;
	background-position: top right;
	background: url("Images/bonhomme.jpg") fixed no-repeat top right, url("Images/clouds.jpg") fixed;*/
}

a
{
	text-decoration: none;
	color: black;
	font-style: italic;
}

a:hover
{
	text-decoration: underline;
	color: green;
}

a:visited
{
	color: #AAA
}





section
{
	margin-left: 170px;
}
.textGrey
{
	color : grey;
}
.bigCheckbox{

   width: 40px; height: 40px; 

}
input[type='checkbox'] {

    background:red;
}

.right{ text-align: right; }

#listPerson
{
	
    width: 220px;
    padding: 10px;
    border: 5px dotted #98bf21;
    margin: 20px;

}
.intro
{
	font-family: MaPolice;
	font-size: xx-large;
	font-weight: bold;
	/*color: blue;*/
	color : rgb(0,0,255);
	text-align: center;
	background-color: rgba(255,0,0,0.2);
}

.imageflottante
{

	float: left;
}


