
#bodyAccueil{
	/*background-image: url("../images/waves2.jpg");
	/*background-position: center;*/

}
@-moz-keyframes saute {
from {-moz-transform: rotate(-10deg) scale(1.3,1.3);}
to {-moz-transform: rotate(-7deg) scale(1.3,1.3);}
}
section div:hover{
-moz-animation: saute 0.2s alternate; /* firefox*/


}

body{


	font-family: Helvetica Narrow, sans-serif;
	font-weight: 500;
    /*width:930px;/*Taille de la colonne centrée moins le padding*/
    /*background-color: limegreen;/*Couleur de fond*/
    margin: auto; /*centrer la colonne*/
    padding:0px 25px 0px 25px;/*margin interne*/
	/*background-image: url("Images/clouds.jpg");*/
	/*background-color: rgb(200,90,200);*/
	/*background-image: url("Images/bonhomme.jpg");
	background-attachement: fixed;
	background-repeat: no-repeat;
	background-position: top right;
	background: url("Images/bonhomme.jpg") fixed no-repeat top right, url("Images/clouds.jpg") fixed;*/
}

h1{
    text-align:center;/*texte centré*/
    font-size: x-large;
    font-weight: bold;
}
h2{
	position: relative;
	left:  20px;
	/* text-indent: 20px;*/
    margin-left: 30px/*texte centré*/
    font-size: large;
    font-weight: bold;
}
p{
	margin-bottom: 30px;
	position: relative;
	left:  10px;
}



a{ /* le texte de la nav */
	/*color:#9FC6FF; /* bleu clair */
    /*font-family: "Comic Sans ms";
    font-size: large;
    font-weight: italic;*/
}
