section[class="images"] h1{
	text-align:center;
	font-style:italic;
}



article{
	border:3px solid chocolate;/*bleu clair*/   /* blueviolet*/
	border-radius: 20px ;
	height: 650px;
	width: 100%;
	margin-left: 5%;
	margin-top: 10px;
	opacity:1;
	color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000; 
	font-family:Comic Sans MS;
}

article[id="burgers"]{
	
	
	background-image:url("../images/burger2.jpg"), url("../images/burger.jpg");
	background-repeat:no-repeat;
	background-size:30%, 100%;
	background-position:5% 7%, top left;
	
}

article[id="lasagne"]{
	
	background-image:url("../images/lasagne2.jpg"),url("../images/lasagne.jpg");
	background-repeat:no-repeat, repeat;
	background-size:35%, 100%;
	background-position:5% 7%, top left;
	
}

article div[class="ingredients"]{
	margin-left:40%;
	font-style:bold;
	font-size:large;  
}

article div[class="preparation"]{
	margin-left:10%;
	font-style:bold;
	font-size:large;
}


h1{
	text-align:center;
	color: black;
    text-shadow:
    -0.5px -0.5px 0 #0000FF,
    0.5px -0.5px 0 #0000FF,
    -0.5px 0.5px 0 #0000FF,
    0.5px 0.5px 0 #0000FF; 
	font-family:Comic Sans MS;
	font-size:xx-large;
}

article h2{
	text-align:center;
}