




section[class="images"]{
	border-radius: 20px ;
	height: 300px;
	background-image:url("../images/cuisine.jpeg");
	background-repeat:no-repeat;
	background-position:right top;
	margin-top: 100px;
	
}

section[class="images"] h1{
	text-align:center;
	font-style:italic;
}

#navRepas{ 
   	white-space: nowrap; 
    	margin-left: 0;
}


#navRepas ul{ 
    display: inline-block;
    margin-left: 0;
    *display: inline; /* IE7 */
    *zoom:1;  /* IE7 */ 
    list-style: none;
    width: 100%;
    padding:0px;
}

#navRepas ul li {

    display: inline-block;
    *display: inline;
    *zoom:1;
    width: 20%;
    height:150px;
    line-height:150px;
    border-radius: 10%;
margin-left:5%; 

 border:2px solid;
 border-color:#DCDCDC ;

 text-decoration:none;
 text-align:center;
	background-size:100%;
 }

#navRepas ul li a{
 color: black;
    font-family: Georgia, "Comic Sans ms";
 font-size:x-large;
	font-weight:bold;

}

#navRepas ul li:first-child {
    background-image: url("../images/entree.jpg");
}

#navRepas ul li:nth-child(2) { 
	background-image: url("../images/plat.jpg");
}

#navRepas ul li:nth-child(3) {
	background-image: url("../images/dessert.jpg");
}

#navRepas ul li:hover {
background-position: center;
 border-color:#696969 ;
 color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
 } 

#navRepas ul li a:hover {
 color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
 } 

#navRepas ul li:first-child:hover {
	background-image: url("../images/entree2.jpg");
	background-size:80%;
	background-repeat:no-repeat;
}

#navRepas ul li:nth-child(2):hover { 
	background-image: url("../images/plat2.jpg");
	background-size:80%;
	background-repeat:no-repeat;
}

#navRepas ul li:nth-child(3):hover { 
	background-image: url("../images/dessert2.jpg");
	background-size:100%;
	background-repeat:no-repeat;
}


