
h1{
	color: black;
    text-shadow:
    -0.5px -0.5px 0 #0000FF,
    0.5px -0.5px 0 #0000FF,
    -0.5px 0.5px 0 #0000FF,
    0.5px 0.5px 0 #0000FF; 
	font-family:Comic Sans MS;
	font-size:xx-large;
}


 .ui-datepicker {
	             background: #333;
	             border: 1px solid #555;
	             color: #EEE;
		      }

