/*
#bodyCalculation{
	background-image: url("../images/sunflower.jpg");
	/*background-position: center;

}
*/


section{
  border-radius: 10px ;
  width:90%;
  margin : auto; 
  margin-top : 75px; 
  background : lightgoldenrodyellow;/*url("../images/papier-peint19.jpg");*/
  color:#800000;
  padding: 3%;
}


h1{
/*text-shadow: 5px 5px 5px #FF0000;  /*decalage-a-droite, decalage-bas, flootage, color*/
	color:#FF1919;/*#FF8080;*/
	text-shadow: 0   0.8px 0 #E60000,
              0   1.5px 0 #CC0000,
             -1px 2.3px 0 #B20000,
             -1px 3px 0 #990000,
             -2px 3.8px 0 #800000,
             -2.1px 4.5px 0 #660000,
             -2.2px 5.3px 2px rgba(50,0,0, 0.4),
             -2.2px 5.3px 8px rgba(50,0,0, 0.2),
             -2.2px 5.3px 20px rgba(50,0,0, 0.4); 
}

section h2{
 font-weight: bold;
 padding-top:4%;
}
section article{
 margin-left: 3%;
}


#divTab{
margin:3%

}

.button{
font-size: 1.2em;
/*width: 200px; */
height: 25px; 
line-height:25px;/*permet le centrage vertical*/ 
padding:5px 20px 5px 20px;
color: #FF0000; 
}

.button:hover{ 
color: #FF4D4D; 
}
.button:active{ 
color: #000; 
}

#name{ /*input text*/
font-family: Arial,sans-serif; 
font-size: 1.2em;
width: 200px ; 
height: 25px; 
/*border-radius: 8px;*/
background: url("../images/peint-blanc.jpg");
background-size: 200px, 25px;
}

.right{ 
  position: absolute;
  right: 12vw;
}
#buttonsBottom{
	margin-top:6%;
}
#tab caption{

	font-size: 1.5em;
	border: 4px solid #800000;
	border-radius: 10px;
	border-bottom : 1px; 
color: white;
    text-shadow:
    -2px -2px 0 #800000,
    2px -2px 0 #800000,
    -2px 2px 0 #800000,
    2px 2px 0 #800000; 
}

#tab{
	border: 4px solid #800000;
	
	border-radius: 10px;
	/*background:#FF0000;*/
}

#tab th, #tab td{
	border: 1px solid #800000;
	border-radius: 5px;
}
th{

	background:#B20000;
	color:white;
}

/*
input[type="checkbox"].css-checkbox {
							  position: absolute; 
							overflow: hidden; 
							clip: rect(0 0 0 0); 
							height:1px; 
							width:1px; 
							margin:-1px; 
							padding:0;
							border:0;
						}

*/

input[type=checkbox] {
	
  -moz-appearance: none;
  width: 20px;
  height: 20px;
}








