
h1{
color: black;
       text-shadow:
	       -0.5px -0.5px 0 #0000FF,
	       0.5px -0.5px 0 #0000FF,
	       -0.5px 0.5px 0 #0000FF,
	       0.5px 0.5px 0 #0000FF; 
       font-family:Comic Sans MS;
       font-size:xx-large;
}

/*
article[class="function"]{
	border:4px solid;
	border-color: black ;
	border-radius: 30px;
}

.line{
	margin:0%;
}

*/
.inline{
	/*width: 40%;*/
	width: 10vw;
}

.addColumn{
	border:4px solid;
	border-color: green ;
	width: 45vw;
	height: 100px;
}

#addCol{
	margin-left: -8vw;
	margin-top: -50px;
}

#date{
	margin-top: 10px;
}

.namePers{
	border:4px solid;
	border-color: red ;
	margin-left: 0;
	margin-top: -20px;
	width: 20vw;
	height: 100px;
}

#addPers{
	margin-left: 0;
}

.datepick{
	width: 10vw;
	background:blue;
}


.button{
	border:4px solid;
	border-color: red ;
	font-size: 1.2em;
	width: 5vw;
	/*margin-left: 5%;
	width: 5%; 
	height: 25px; 
	line-height:25px;/*permet le centrage vertical*
	padding:4px;
	color: #FF0000; */
}

/*
.button:hover{ 
	color: #FF4D4D; 
}
.button:active{ 
	color: #000; 
}
*/












/******* CHECKBOX *********/
input[type=checkbox] {
		visibility: hidden;
}

/* ROUNDED TWO */
.roundedTwo {
	width: 30px;
	height: 30px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, palegreen 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, palegreen 10%, yellowgreen 30%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
margin: 20px auto;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
position: relative;
}

.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	left: 3px;
	top: 3px;

     -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
     -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
     box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, green 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 11px;
	height: 7px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
filter: alpha(opacity=30);
opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;
}

/******* END CHECKBOX *********/


/*
#tab{
	border : none;
       }
thead th{
	border : none;
	 border-bottom: 5px solid green;
}*/

table, caption, thead, tfoot, tbody {
	margin: 0;
	padding: 0;
}

table {
	border: 3px solid green;
	background:white;
	border:0;
	border-collapse: separate;
	border-spacing: 4px;
	color: #333333;
	margin-top: 5px;
	max-width: 900px;
	min-width: 400px;
	/* padding: 20px 5px 5px 5px; Espcaement du border */
	width: 100%;
}




thead, th, td{

}

th, td {
	border:none;
	/* border: 1px solid green; */
	padding: 1px 6px;
}

th { /*texte des intitulés de colonnes et cellules*/
	color: #31605D;
}

#tab th { /*background entete de colonne*/
	background: #D3EDEB;
}

#tab td {

	background-color: palegreen;
}

thead,td {
	text-align: center;
}

td:empty {
	background: #A7DBD8;
	border: 0;
}
