


#name{ /*input text*/
	font-family: Arial,sans-serif; 
	font-size: 1vw;
	width: 10vw; 
	height: 2vw; 
	background: url("../images/peint-blanc.jpg");
	background-size: 10vw, 1vw;
}

section{
	width:50vw;
	color:#803300;
}



h1, h2{
   /* text-shadow: 5px 5px 5px #FF6600;  /*decalage-a-droite, decalage-bas, flootage, color*/

	color:#FF6600;
	text-shadow: 0   0.8px 0 #E65C00,
              0   1.5px 0 #CC5200,
             -1px 2.3px 0 #CC5200,
             -1px 3px 0 #993D00,
             -2px 3.8px 0 #803300,
             -2.1px 4.5px 0 #662900,
             -2.2px 5.3px 2px rgba(51,20,0, 0.4),
             -2.2px 5.3px 8px rgba(51,20,0, 0.2),
             -2.2px 5.3px 20px rgba(51,20,0, 0.4); 

}


section h2{
 font-weight: bold;
 padding-top:5vw;
}
section article{
 margin-left: 5vw;
 padding:2vw;
}
section div[class="composition"]{
    margin-left: 10vw;
}

section div[class="ajout"]{
    margin-left: 10vw;
}
.right{ 
  position: absolute;
  right: 22vw;
}
#buttonsBottom{
	margin-top:8vw;
}
#listPerson
{
    color : #FF6600;
    width: 10vw;
    padding: 0.5vw;
    border: 5px dotted #FF6600;
    margin: 1vw;

}




/********************************* BUTTON CLASSIC ********************************/
.button{
width: 200px; 
height: 30px; 
line-height:30px;/*permet le centrage vertical*/ 
padding:4px;
color: #CC5200; 
}

.button:hover{ 
color: #FF6600; 
}
.button:active{ 
color: #000; 
}

/********************************* fin BUTTON CLASSIC ********************************/

