

#bodyGroupe{
	background-image: url("../images/montain.jpg");
	/*background-position: center;*/

}


#listPerson
{
	
    width: 220px;
    padding: 10px;
    border: 5px dotted #98bf21;
    margin: 20px;

}
