
h1{
	/*  text-shadow:
	       -0.5px -0.5px 0 #0000FF,
	       0.5px -0.5px 0 #0000FF,
	       -0.5px 0.5px 0 #0000FF,
	       0.5px 0.5px 0 #0000FF; */
       
	color:#00CC00;
	text-shadow: 0   0.8px 0 #00B800,
              0   1.5px 0 #00A300,
             -1px 2.3px 0 #008F00,
             -1px 3px 0 #007A00,
             -2px 3.8px 0 #006600,
             -2.1px 4.5px 0 #005200,
             -2.2px 5.3px 2px rgba(0,41,0, 0.4),
             -2.2px 5.3px 8px rgba(0,41,0, 0.2),
             -2.2px 5.3px 20px rgba(0,41,0, 0.4); 
}

/*
article[class="function"]{
	border:4px solid;
	border-color: black ;
	border-radius: 30px;
}

.line{
	margin:0%;
}

*/

#funcDate{
	border:4px solid;
	border-color: green ;
	border-radius: 30px;
	width: 50vw;
	max-width: 500px;
	height: 150px;
}

h4{
	margin-left: 5px;
}

#butAddCol{
	margin-left: 5px;
	width: 5vw;
	max-width: 50px;
}

.datepick{
	width: 13vw;
	max-width: 130px;
}

#textCol{
	width: 22vw;
	max-width: 220px;

}



#funcPers{
	margin-left: 3vw;
	border:4px solid;
	border-color: green ;
	border-radius: 30px;
	width: 25vw;
	max-width: 250px;
	height: 50px;
	
}

#name{
	margin-left: 10px;
	width: 15vw;
	max-width: 150px;
}


.button{
	font-size: 1.2em;
	width: 5vw;
	max-width: 50px;
	/*margin-left: 5%;
	width: 5%; 
	height: 25px; 
	line-height:25px;/*permet le centrage vertical*
	padding:4px;
	color: #FF0000; */
}

/*
.button:hover{ 
	color: #FF4D4D; 
}
.button:active{ 
	color: #000; 
}
*/












/******* CHECKBOX *********/
input[type=checkbox] {
		visibility: hidden;
}

/* ROUNDED TWO */
.roundedTwo {
	width: 30px;
	height: 30px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, palegreen 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, palegreen 10%, yellowgreen 30%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
margin: 20px auto;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
position: relative;
}

.roundedTwo label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	left: 3px;
	top: 3px;

     -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
     -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
     box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, green 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 11px;
	height: 7px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
filter: alpha(opacity=30);
opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;
}

/******* END CHECKBOX *********/


/*
#tab{
	border : none;
       }
thead th{
	border : none;
	 border-bottom: 5px solid green;
}*/

table, caption, thead, tfoot, tbody {
	margin: 0;
	padding: 0;
}

table {
	border: 3px solid green;
	background:none;
	border:0;
	border-collapse: separate;
	border-spacing: 0px;
	color: #333333;
	margin-top: 5px;
	max-width: 900px;
	min-width: 400px;
	/* padding: 20px 5px 5px 5px; Espcaement du border */
	width: 100%;
}




thead, th, td{

}

th, td {
	border:none;
	/* border: 1px solid green; */
	padding: 1px 6px;
}


#tab th { /*background entete de colonne*/
	border:3px solid green;
	 border-right: 0.01px solid grey; 
	 border-left: 0.01px solid grey; 

	background: #D3EDEB;
		color: #31605D;
}

#tab td {
	
	 border: 1px solid green; 
	 border-right: 0.01px solid grey; 
	 border-left: 0.01px solid grey; 
	background-color: palegreen;
}

thead,td {
	text-align: center;
}

td:empty {
	background: #A7DBD8;
	border: 0;
}
