@font-face {
	font-family: 'MaPolice';
	src: url('mapolice.otf');
}

body{
	/*background-image: url("Images/clouds.jpg");*/
	/*background-color: rgb(200,90,200);*/
	/*background-image: url("Images/bonhomme.jpg");
	background-attachement: fixed;
	background-repeat: no-repeat;
	background-position: top right;
	background: url("Images/bonhomme.jpg") fixed no-repeat top right, url("Images/clouds.jpg") fixed;*/
}

a
{
	text-decoration: none;
	color: black;
	font-style: italic;
}

a:hover
{
	text-decoration: underline;
	color: green;
}

a:visited
{
	color: #AAA
}

header
{
	font-family: MaPolice;
	font-size: x-large;
	font-weight: bold;
	color: black;
	background-color: #AAA
}

footer
{
	font-family: "Comic Sans ms";
	font-size: small;
	font-weight: italic;
	text-align: right;
	background-color: #AAA
}

nav
{
	float: left;
	width:150px;
	/*border: 1px solid black;*/

}

section
{
	margin-left: 170px;
}


.intro
{
	font-family: MaPolice;
	font-size: xx-large;
	font-weight: bold;
	color: blue;
	text-align: center;
}

.imageflottante
{

	float: left;
}
