@font-face {
	font-family: 'MaPolice';
	src: url('mapolice.otf');
}

body{
	/*background-image: url("Images/clouds.jpg");*/
	/*background-color: rgb(200,90,200);*/
	/*background-image: url("Images/bonhomme.jpg");
	background-attachement: fixed;
	background-repeat: no-repeat;
	background-position: top right;
	background: url("Images/bonhomme.jpg") fixed no-repeat top right, url("Images/clouds.jpg") fixed;*/
}

a
{
	text-decoration: none;
	color: black;
	font-style: italic;
}

a:hover
{
	text-decoration: underline;
	color: green;
}

a:visited
{
	color: #AAA
}

header
{
	font-family: MaPolice;
	font-size: x-large;
	font-weight: bold;
	color: black;
	background-color: #AAA
}

footer
{
	font-family: "Comic Sans ms";
	font-size: small;
	font-weight: italic;
	text-align: right;
	background-color: #AAA
}

nav
{
	float: left;
	width:150px;
	/*border: 1px solid black;*/

}

section
{
	margin-left: 170px;
}
#nameGris
{
	color : grey;
}
#reset{ text-align: right; }

#listPerson
{
	
    width: 220px;
    padding: 10px;
    border: 5px dotted #98bf21;
    margin: 20px;

}
.intro
{
	font-family: MaPolice;
	font-size: xx-large;
	font-weight: bold;
	/*color: blue;*/
	color : rgb(0,0,255);
	text-align: center;
	background-color: rgba(255,0,0,0.2);
}

.imageflottante
{

	float: left;
}


.square
{
    border: 2px solid #000;
    width: 200px;
    height: 200px;
    position: absolute;
	
}
            
/* Première div, en rouge
(et tant qu'à faire, on révise
le chapitre précédent :p ) */
#s1
{
    background-color: rgba(255,0,0,0.4);
    left: 130px;
    top: 20px;
}
            
/* Seconde div en vert */
#s2
{
    background-color: rgba(0,255,0,0.4);
    left: 80px;
    top: 120px;
}
        
/* Troisième div en bleu */
#s3
{
    background-color: rgba(0,0,255,0.4);
    left: 240px;
    top: 100px;
}

