nav{ 
	
	/*overflow-x:scroll;
	overflow-y:none; */  	
	white-space: nowrap; 
    	margin-left: 0;
    	padding:0;
	/*background:purple;*/   
}

nav ul {
	/*background:red;*/
	display: inline-block;
    	margin-left: 0;
    	/*display: inline; /* IE7 */
    	/*zoom:1;  /* IE7 */ 
    	list-style: none;
   	width: 100vw;
    	padding:0;
}
