body{
	margin: auto; /*centrer la colonne*/
	/*background:url("../images/design1.jpg") ;*/
}

header{
	/*background:rgba(51,102,255,0.5);/*url("../images/pins.jpg") ;*/
	
	background:rgba(151,152,255,0.9);/*url("../images/pins.jpg") ;*/
	
	background-size:10vw;
	border-bottom:5px solid #003399 ;
	border-top:1px solid rgba(0,0,0,0); /* bug ^^cette ligne permet de coller la bande header en haut*/ 
	margin:auto;
	width:100vw;
	height:150px;
	line-height:150px; /*vertical-align:middle; ne fonctionne pas*/
	
}

header #title{
	position: absolute;
	left: 12vw;
	font-size: 2.5vw;
	font-weight: bold;
  
	color: white;
	
	text-shadow: 0 1px 0 #eee,
             0 2px 0 #e5e5e5,
             -1px 3px 0 #C8C8C8,
             -1px 4px 0 #C1C1C1,
             -2px 5px 0 #B9B9B9,
             -2px 6px 0 #B2B2B2,
             -2px 7px 2px rgba(0,0,0, 0.6),
             -2px 7px 8px rgba(0,0,0, 0.6),
             -2px 7px 45px rgba(0,0,0, 1);  
	/*text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; */
    
}
header #connexion{
  position: absolute;
  right: 2vw;
	/* comprend les deux input text + button connexion */
}

header #coGroup, #coPwd{
	margin:0;
	margin-left:0.5vw;
	padding : 0.5vw;
	width:13vw;
	height:36px;
	font-size: 1.3vw;
	
	border:1px solid white ;
	border-radius: 0.5vw;
	background : rgba(0,0,0,0);
	/*
	border:2px solid #003399 ;
	background: url("../images/peint-blanc.jpg");
	background-size: 200px, 25px;
	*/
}

#pseudo, #email, #pwd, #confirmPwd{
	
	margin-top:0.7vw;
	padding : 0.5vw;
	padding-left : 0.8vw;
	width:25vw;
	height:40px;
	font-size: 1.3vw;
	/*background: url("../images/peint-blanc.jpg");
	background-size: 200px, 25px;*/
	
	background:rgba(151,152,255,0.9);/*url("../images/pins.jpg") ;*/
	border:1px solid white;
	border-radius: 0.5vw;
}
.button3D{
	height:40px;
	line-height:0px;
	text-align:center;
	font-size: 1.4vw;
	font-weight:bold;
	padding:0.2vw 1vw;
	margin-left:2vw;
	border:4px solid;
	border-radius: 0.5vw; 
	
}

footer{
	position:absolute;
	top:700px;
	/*bottom:0;
	margin: auto;
	padding-top:10vw;*/
	padding:2vw;/*Marge verticale*/
	width:90vw;
	text-align:center;/*texte centré*/
	font-size: 1.5vw;
	/*font-weight: italic; ne marche pas*/
	color: white;
	/*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    */
}
/*
#mySection{ /** si on ecrit section ca prend en compte inline block et est trop a gauche*
	border-radius: 1vw ;
	width:70vw;
	height:300px;
	margin:auto;
	margin-top : 3vw; 
	margin-bottom : 1vw; 
	/*background : url("../images/peint-blanc.jpg");
	background-size:20vw;*
	padding: 2vw;
	
	
	border:5px solid red;
}
*/
section article[id="accederSite"]{
	position: absolute;
	left: 13vw;
	margin-top:10vw;
	/*width:40vw;*/  
}

#bAccesSite{
	height:150px;
	line-height:50px;
	text-align:center;
	font-size: 2.2vw;
	font-weight:bold;
	padding:2vw 1vw;
	border:8px solid white;
	border-radius: 0.5vw; 
	
}

section article[id="creationGroup"]{
	position: absolute;
	left: 45vw;
	margin-top:5vw;
	/*width:20vw;*/
	padding-left:10vw; 
	border-left:8px dotted #5C5CFF;
}

#pseudo, #email, #pwd, #confirmPwd{
	
	margin-top:0.7vw;
	padding : 0.5vw;
	padding-left : 0.8vw;
	width:25vw;
	height:40px;
	font-size: 1.3vw;
	/*background: url("../images/peint-blanc.jpg");
	background-size: 200px, 25px;*/
	
	
	background:rgba(151,152,255,0.9);/*url("../images/pins.jpg") ;*/
	border:1px solid white;
	border-radius: 0.5vw;
	
	
	
}
#confirmConnexion{
	height:40px;
	line-height:0px;
	text-align:center;
	font-size: 1.4vw;
	font-weight:bold;
	padding:0.2vw 1vw;
	margin-left:1vw;
	border:4px solid;
	border-radius: 0.5vw; 
	
}
#confirmInscription{

	margin-top:2vw;
	margin-left:7vw;
	height:40px;
	line-height:0px;
	text-align:center;
	font-size: 1.4vw;
	font-weight:bold;
	padding:0.2vw 1vw;
	border:4px solid;
	border-radius: 0.5vw; 	
}
section h2{
	font-size:2.6vw;
	text-align:center;
	font-weight: bold;
	
	color: white;
	text-shadow: 0 1px 0 #eee,
             0 2px 0 #e5e5e5,
             -1px 3px 0 #C8C8C8,
             -1px 4px 0 #C1C1C1,
             -2px 5px 0 #B9B9B9,
             -2px 6px 0 #B2B2B2,
             -2px 7px 2px rgba(0,0,0, 0.6),
             -2px 7px 8px rgba(0,0,0, 0.6),
             -2px 7px 45px rgba(0,0,0, 1); 
             
}



.line{
	white-space: nowrap; 
	margin-left: 0;
}
.inline{
	display: inline-block;
}
/** reecri de general.css **/

.textBlue{
	color : #4747D1;
}

.textWhite{
	color : white;
}
.right{ 
  position: absolute;
  right: 1vw;
}