<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webHolidays</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	
	
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>servlets.Connexion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>servlets.Registration</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreationGroup</servlet-name>
		<servlet-class>servlets.CreationGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreationGroup</servlet-name>
		<url-pattern>/creationGroup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PersoArea</servlet-name>
		<servlet-class>servlets.PersoArea</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersoArea</servlet-name>
		<url-pattern>/persoArea</url-pattern>
	</servlet-mapping>
	
	<listener>
    <listener-class>config.InitialisationDaoFactory</listener-class>
</listener>
</web-app>